<%- include("../partials/header") %>

<div class='container'>
<header class='jumbotron'>
	<div class="container">
		<h1><i class="far fa-address-card"></i> Welcome to SimpleContact!</h1>
		<p>We build bridges between different worlds!</p>
		<p><a class="btn btn-outline-primary" href="/contacts/new">Add a New Contact</a></p>
	</div>
</header>
	
<div class="row">
	<% contacts.forEach(function(contact){ %>
	<div class="col col-12 col-sm-6  col-md-4 col-lg-3">
		<div class="card">
			<img class="card-img-top" src="<%= contact.image %>">
			<div class="card-body">
				<h5 class="card-title text-center">
					<%= contact.firstName%> <%= contact.lastName%>
				</h5>
				<p class="card-text"><%=contact.city%></p>
				<p>
					<a class="card-text btn btn-primary" href="/contacts/<%=contact._id%>">More Info</a>
				</p>
			</div>
		</div>
	</div>
	<% }); %>
</div>
	
</div>
<%- include("../partials/footer") %>
